<h2>Sign Up!</h2>

<form>
  <div class="form-group">
    <label for="exampleInputUser1">Username</label>
    <input type="username" class="form-control" id="exampleInputUser1" placeholder="Please enter a username">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1" style="color: gainsboro;">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Please enter an email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1" style="color: gainsboro;">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Please enter a password (max 8 characters)">
  </div>
  <div class="form-group form-check">
    <small><a href="/login" style="color: gainsboro;">Already have an account?</a></small>
  </div>
  <button type="submit" class="btn btn-primary" style="background-color: rgb(238, 238, 110); border: solid 1px rgb(238, 238, 110); color: black;">Submit</button>
</form>